
/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>

// Definitions for Layers.
#define DEFAULT 0
#define KEYPAD 1
#define FN 2
#define MOD 3
#define COMMAND 4

// Definitions for homerow mods.
#define KEYS_LEFT  0  1  2  3  4  5  6 \
                  14 15 16 17 18 19 20 \
                  28 29 30 31 32 33 34 \
                  46 47 48 49 50 51    \
                  60 61 62 63 64

#define KEYS_RIGHT  7  8  9 10 11 12 13 \
                   21 22 23 24 25 26 27 \
                   39 40 41 42 43 44 45 \
                   54 55 56 57 58 59 \
                   71 72 73 74 75

#define THUMBS_LEFT     35 36 \
                           52 \
                     65 66 67 \

#define THUMBS_RIGHT 37 38    \
                     53       \
                     68 69 70 \

#define THUMBS THUMBS_LEFT THUMBS_RIGHT

// Spaceなどの連続入力をしたいケースがあるため追加。
// 200ms以内に2回タップするとlayer-tapにおける通常キー（レイヤーキー以外）の入力が有効になる。
&lt {
    tapping-term-ms = <200>;
    quick_tap_ms = <175>;
};

&mt {
    tapping-term-ms = <200>;
};

/ {
  behaviors {
    #include "macros.dtsi"
    #include "version.dtsi"

    // homerow mods settings
    hm: homerow_mods {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS";
        #binding-cells = <2>;
        tapping-term-ms = <200>;
        quick_tap_ms = <175>;
        flavor = "tap-preferred";
        bindings = <&kp>, <&kp>;
    };

    hm_l: homerow_mods_left {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS_LEFT";
        #binding-cells = <2>;
        tapping-term-ms = <175>;
        quick_tap_ms = <175>;
        flavor = "balanced";
        bindings = <&kp>, <&kp>;
        // 右半分と親指クラスターのみ、ホールドタップを有効にする。
        hold-trigger-key-positions = <KEYS_RIGHT THUMBS>;
    };

    hm_r: homerow_mods_right {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS_RIGHT";
        #binding-cells = <2>;
        tapping-term-ms = <175>;
        quick_tap_ms = <175>;
        flavor = "balanced";
        bindings = <&kp>, <&kp>;
        hold-trigger-key-positions = <KEYS_LEFT THUMBS>;
    };

    // tap-dance functions
    td0: select_all_copy_and_paste {
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        tapping-term-ms = <200>;
        bindings = <&sac>, <&kp LC(V)>;
    };
    td2: home_pgup {
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        tapping-term-ms = <150>;
        bindings = <&kp HOME>, <&kp PG_UP>;
    };
    td3: end_pgdn {
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        tapping-term-ms = <150>;
        bindings = <&kp END>, <&kp PG_DN>;
    };
    td4: simple_paste_or_with_bullets {
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        tapping-term-ms = <200>;
        bindings = <&paste>, <&pwb>;
    };

    // hold-tap functions
    SandS: space_and_shift {
        compatible = "zmk,behavior-hold-tap";
        label = "SPACE_AND_SHIFT";  // 分かりやすいようにこの名前にしているがSpace + Shift以外も可能。。
        #binding-cells = <2>;
        tapping-term-ms = <200>;
        quick_tap_ms = <200>;
        flavor = "hold-preferred";
        bindings = <&kp>, <&kp>;
        hold-trigger-key-positions = <KEYS_LEFT KEYS_RIGHT>;  // 親指クラスターには適用しない
    };
  };

  // Homerow mods
  #define _PERIOD_SFT &hm_l LSHFT PERIOD  // Shift on middle finger. This setting is for `SKK`.
  #define _C_SFT &hm_r RSHFT C 
  #define _A_SFT &hm_l LSHFT A
  #define _S_SFT &hm_r RSHFT S

  macros {
    // Moved into macros.dtsi.
  };

  //combos {
    //  compatible = "zmk,combos";
    //  combo_esc {
    //    timeout-ms = <50>;
    //      key-positions = <0 1>;
    //      bindings = <&kp ESC>;
    //  };
  //};

// OS設定でJISレイアウトに設定されている場合、記号はZMKの定義通りに出力されないことがある。
// 以下定義と実際の出力の対応関係のメモ。
// - DQT(") -> * 
// - AMPS(&) -> '
// - SQT(') -> :
// - LPAR(() -> )
// - RPAR()) -> 出力されない
// - AT(@) -> "
// - ASTRK(*) -> (
// - AMPS(&) -> '
// - EQUAL(=) -> ^
// - PLUS(+) -> ~
// - UNDERSCORE(-) -> =
// - BSLH(\) -> ]
// - PIPE(|) -> }
// - COLON(:) -> +
// - LBKT([) -> @/`
// - LBRC({) -> `
// - RBKT(]) -> [/{
// - RBRC(}) -> {
// - GRAVE(`) -> OEM固有（0xf3）
// - TILDE(~) -> OEM固有（0xf4）
// - TILDE2(~) -> }
// - CARET(^) -> &
// - MINUS(-) -> -/=
// - PIPE2(|) -> 出力されない
// - NUBS(\ and |) -> 出力されない
// - NUHS(# and ~) -> ]/}
    keymap {
        compatible = "zmk,keymap";

        layer_default {
            bindings = <
                &kp ESCAPE  &kp N1              &kp N2    &kp N3            &kp N4          &kp N5 &tog KEYPAD                                                                                           &mo MOD         &kp N6 &kp N7   &kp N8   &kp N9 &kp N0    &kp MINUS
                &kp TAB     &kp INTERNATIONAL_1 &kp COMMA &kp PERIOD        &kp P           &kp Y  &kp PRINTSCREEN                                                                                       &none           &kp F  &kp G    &kp C    &kp R  &kp L     &kp LEFT_BRACKET
                &kp LCTRL   &kp A               &kp O     &kp E             &kp U           &kp I  &td0            &kp LCTRL          &kp LALT            &kp LGUI            &kp RALT                   &none           &kp D  &kp H    &kp T    &kp N  &kp S     &kp FSLH
                &kp LSHFT   &kp SEMICOLON       &kp Q     &kp J             &kp K           &kp X                                     &td2                &td3                                                           &kp B  &kp M    &kp W    &kp V  &kp Z     &kp RSHFT
                &mo COMMAND &kp SINGLE_QUOTE    &kp INT3  &kp RIGHT_BRACKET &kp NON_US_HASH        &lt FN DEL      &SandS LSHFT SPACE &kp INTERNATIONAL_5 &kp INTERNATIONAL_4 &SandS RSHFT ENTER         &lt FN BACKSPACE       &kp LEFT &kp DOWN &kp UP &kp RIGHT &mo FN
            >;
        };

        layer_keypad {
            bindings = <
                &kp GRAVE   &kp N1  &kp N2    &kp N3   &kp N4    &kp N5 &trans                                           &mo MOD   &kp N6  &kp KP_NUM &kp N8    &kp KP_DIVIDE &kp KP_MULTIPLY &kp MINUS
                &kp TAB     &kp Q   &kp W     &kp E    &kp R     &kp T  &none                                            &none     &kp Y   &kp KP_N7  &kp KP_N8 &kp KP_N9     &kp KP_MINUS    &kp LEFT_BRACKET
                &kp CAPS    &kp A   &kp S     &kp D    &kp F     &kp G  &none    &kp LCTRL &kp LALT &kp LGUI  &kp RCTRL  &none     &kp H   &kp KP_N4  &kp KP_N5 &kp KP_N6     &kp KP_PLUS     &kp SINGLE_QUOTE
                &kp LSHFT   &kp Z   &kp X     &kp C    &kp V     &kp B                     &kp HOME &kp PG_UP                      &kp N   &kp KP_N1  &kp KP_N2 &kp KP_N3     &kp KP_ENTER    &kp RSHFT
                &mo COMMAND &kp ESC &kp EQUAL &kp LEFT &kp RIGHT        &kp BSPC &kp DEL   &kp END  &kp PG_DN  &kp ENTER &kp KP_N0         &kp UP     &kp DOWN  &kp KP_DOT    &kp KP_ENTER    &mo FN
            >;
        };

        layer_fn {
            bindings = <
                &kp F12  &kp F1  &kp F2    &kp F3    &kp F4     &kp F5             &tog KEYPAD                                             &mo MOD &kp F6     &kp F7   &kp F8    &kp F9    &kp F10        &kp F11
                &trans  &trans   &trans    &trans    &trans     &trans             &none                                                   &none   &kp EQUAL  &kp PLUS &kp DQT   &trans    &kp UNDERSCORE &trans
                &trans  &kp N1   &kp N2    &kp N3    &kp N4     &kp N5             &none  &trans  &trans                  &trans  &trans   &none   &kp N6     &kp N7   &kp N8    &kp N9    &kp N0         &kp MINUS
                &trans  &kp EXCL &kp AT    &kp HASH  &kp DOLLAR &kp PERCENT                       &trans                  &trans                   &kp CARET  &kp AMPS &kp ASTRK &kp LPAR  &kp SQT        &trans
                &trans  &trans   &kp EQUAL &trans    &trans                        &trans &trans  &trans                  &trans  &trans   &trans             &trans   &trans    &trans    &trans         &trans
            >;
        };

        layer_mod {
            bindings = <
                &none         &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4     &none                                                &trans                 &none       &none       &none       &none   &none   &none
                &none         &none         &none         &none         &none         &none            &bootloader                                          &bootloader            &none       &none       &none       &none   &none   &none
                &none         &none         &none         &none         &none         &none            &none       &none   &none     &bt BT_CLR  &none      &rgb_ug RGB_MEFS_CMD 5 &none       &none       &none       &none   &none   &none
                &none         &none         &none         &none         &macro_ver    &none                                &none     &none                                         &none       &none       &none       &none   &none   &none
                &none         &none         &none         &none         &none                          &none       &none   &none     &none       &bl BL_TOG &rgb_ug RGB_TOG                    &bl BL_INC  &bl BL_DEC  &none   &none   &none
            >;
        };

        layer_command {
            bindings = <
                &none         &none         &none         &none         &none         &none            &none                                                &none                  &none       &none       &none       &none   &none   &none
                &none         &none         &none         &none         &none         &none            &none                                                &none                  &none       &none       &none       &none   &none   &none
                &none         &select_all   &none         &none         &none         &none            &none       &none   &none     &none       &none      &none                  &none       &none       &none       &none   &none   &none
                &none         &undo         &cut          &copy         &td4          &none                                &none     &none                                         &none       &none       &none       &none   &none   &none
                &none         &none         &none         &none         &none                          &none       &none   &none     &none       &none      &none                              &none       &none       &none   &none   &none
            >;
        };
    };
};
