#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>

// Define layers.
#define DEFAULT 0
#define KEYPAD 1
#define FN 2
#define MOD 3

&mt {
    tapping-term-ms = <150>;
    flavor = "tap-preferred";
};

&lt {
    quick_tap_ms = <100>;
};

/ {
    behaviors {
      #include "macros.dtsi"

      hm: homerow_mods {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS";
          #binding-cells = <2>;
          tapping-term-ms = <150>;
          quick_tap_ms = <200>;
          require-prior-idle-ms = <125>
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
      };
      td0: tap_dance_0 {
        // Don't add space between `zmk` and `behavior-...`. Occur compiling error.
        compatible = "zmk,behavior-tap-dance";
        label = "TAP_DANCE_0";
        #binding-cells = <0>;
        tapping-term-ms = <185>;
        bindings = <&kp LS(LC(F6))>, <&kp PG_DN>;
      };
      td1: tap_dance_1 {
        compatible = "zmk,behavior-tap-dance";
        label = "TAP_DANCE_1";
        #binding-cells = <0>;
        tapping-term-ms = <185>;
        bindings = <&kp LS(LC(F1))>, <&kp END>, <&kp K_CONTEXT_MENU>;
      };
      td2: tap_dance_macro_asc_and_ycu {
        compatible = "zmk,behavior-tap-dance";
        label = "TAP_DANCE_2";
        #binding-cells = <0>;
        tapping-term-ms = <185>;
        bindings = <&ycu>, <&asc>;
      };
    };

    macros {
        asc: all_select_copy {
          label = "all_select_copy";
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
              = <&macro_press &kp LCTRL>
              , <&macro_tap &kp A>
              , <&macro_tap &kp C>
              , <&macro_release &kp LCTRL>
              ;
        };
        ycu: youtrack_copy_url {
          label = "youtrack_copy_url";
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
              = <&macro_press &kp LCTRL>
              , <&macro_tap &kp C>
              , <&macro_tap &kp C>
              , <&macro_release &kp LCTRL>
              ;
        };
        // `LS(LC(LA(C))))` is also possible, but for the sake of readability I made this macro.
        yct: youtrack_copy_title {
          label = "youtrack_copy_title";
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings
              = <&macro_press &kp LSHFT>
              , <&macro_press &kp LCTRL>
              , <&macro_press &kp LALT>
              , <&macro_tap &kp C>
              , <&macro_release &kp LSHFT>
              , <&macro_release &kp LCTRL>
              , <&macro_release &kp LALT>
              ;
        };
    };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
                                        // DEFAULT
                                        // ----------------------------------------------------------------------------           -----------------------------------------------------------------------
                                        // |   ESC     |    1    |    2    |    3    |    4      |    5    |   Kp     |           | Mod  |    6    |    7    |    8    |    9    |    0     |    \/|    |
                                        // |   TAB     |   "/'   |   </,   |   >/.   |    P      |    Y    |  ycu/asc |           | None |    F    |    G    |    C    |    R    |    L     |    -/_    |
                                        // |  LCTRL    | A/CTRL  |    O    |  E/ALT  |  U/SHIFT  |    I    |  ytc     |           | None |    D    | H/SHIFT |  T/ALT  |    N    | S/CTRL   |    //?    |
                                        // | LSHIFT/Fn |   ;/:   |    Q    |    J    |    K      |    X    |-----------           -------|    B    |    M    |    W    |    V    |    Z     | RSHIFT/Fn |
                                        // |    Fn     |   `/~   |   ESC   |    [    |    ]      |----------                             ----------|   LEFT  |   DOWN  |    UP   |  RIGHT   |    Fn     |
                                        // -------------------------------------------------------                                                 ------------------------------------------------------
                                        //
                                        //                                                                        Thumb Cluster
                                        //                                               -------------------------------------           -----------------------------------
                                        //                                               |  LCTRL   |    LALT                |           |     LGUI          |    RALT     |
                                        //                               -----------------------------------------------------           --------------------------------------------
                                        //                               |               |          |     HOME               |           |     Pg Up         |             |        |
                                        //                               |    DELETE     | SPACE/Fn |-------------------------           --------------------|   ENTER/Fn  |  BSPC  |
                                        //                               |               |          | LS(LC(F1))/END/ MENU   |           | LS(LC(F6))/Pg Dn  |             |        |
                                        //                               -----------------------------------------------------           --------------------------------------------
      bindings = <
        &kp ESC    &kp N1      &kp N2    &kp N3           &kp N4            &kp N5 &tog 1                                                                        &mo MOD &kp N6 &kp N7       &kp N8     &kp N9 &kp N0      &kp BSLH
        &kp TAB    &kp SQT     &kp COMMA &kp DOT          &kp P             &kp Y  &td2                                                                          &none   &kp F  &kp G        &kp C      &kp R  &kp L       &kp MINUS
        &kp LCTRL  &hm LCTRL A &kp O     &hm LALT E       &hm LSHIFT U      &kp I  &yct              &kp LCTRL     &kp LALT &kp LGUI  &kp RALT                   &none   &kp D  &hm RSHIFT H &hm RALT T &kp N  &hm RCTRL S &kp FSLH
        &kp LSHFT  &kp SEMI    &kp Q     &kp J            &kp K             &kp X                                  &kp HOME &kp PG_UP                                    &kp B  &kp M        &kp W      &kp V  &kp Z       &kp RSHFT
        &mo FN     &kp GRAVE   &kp ESC   &kp LEFT_BRACKET &kp RIGHT_BRACKET               &kp DELETE &lt FN SPACE  &td1     &td0      &lt FN ENTER &kp BACKSPACE                &kp LEFT     &kp DOWN   &kp UP &kp RIGHT   &mo FN
      >;
    };

    layer_keypad {
                                        // KEYPAD
                                        // ------------------------------------------------------------------------           -----------------------------------------------------------------------
                                        // |   ESC     |    1    |    2    |    3    |    4    |    5    |   Kp   |           | Mod  |    6    | NUMLOCK |    =    |    /    |    *     |    -/_    |
                                        // |   TAB     |   "/'   |   </,   |   >/.   |    P    |    Y    |  None  |           | None |    F    |    7    |    8    |    9    |    -     |    \/|    |
                                        // |  LCTRL    |    A    |    O    |    E    |    U    |    I    |  None  |           | None |    D    |    4    |    5    |    6    |    +     |    '/"    |
                                        // | LSHIFT/Fn |   ;/:   |    Q    |    J    |    K    |    X    |---------           -------|    B    |    1    |    2    |    3    |  ENTER   | RSHIFT/Fn |
                                        // |    Fn     |   `/~   |   ESC   |    [    |    ]    |----------                           ----------|   UP    |   DOWN  |    .    |    ]     |    Fn     |
                                        // -----------------------------------------------------                                                -----------------------------------------------------
                                        //
                                        //                                                                        Thumb Cluster
                                        //                                               --------------------------           ----------------------------
                                        //                                               |  LCTRL   |    LALT     |           |     LGUI      |  RALT    |
                                        //                               ------------------------------------------           -------------------------------------
                                        //                               |               |          |     Fn      |           |      Fn       |          |        |
                                        //                               |    DELETE     | SPACE/Fn |--------------           ----------------| ENTER/Fn |  BSPC  |
                                        //                               |               |          | LS(LC(F1))  |           |   LS(LC(F6))  |          |        |
                                        //                               ------------------------------------------           -------------------------------------
      bindings = <
        &kp ESC    &kp N1    &kp N2    &kp N3           &kp N4            &kp N5 &tog 1                                                                             &mo MOD &kp N6 &kp KP_NUM &kp KP_EQUAL &kp KP_DIVIDE &kp KP_MULTIPLY &kp MINUS
        &kp TAB    &kp SQT   &kp COMMA &kp DOT          &kp P             &kp Y  &none                                                                              &none   &kp F  &kp N7     &kp N8       &kp N9        &kp KP_MINUS    &kp BSLH
        &kp LCTRL  &kp A     &kp O     &kp E            &kp U             &kp I  &none             &kp LCTRL     &kp LALT        &kp LGUI        &kp RALT           &none   &kp D  &kp N4     &kp N5       &kp N6        &kp KP_PLUS     &kp SQT
        &kp LSHFT  &kp SEMI  &kp Q     &kp J            &kp K             &kp X                                  &mo FN          &mo FN                                     &kp B  &kp N1     &kp N2       &kp N3        &kp KP_ENTER    &kp RSHFT
        &mo FN     &kp GRAVE &kp ESC   &kp LEFT_BRACKET &kp RIGHT_BRACKET               &kp DELETE &lt FN SPACE  &kp LS(LC(F1))  &kp LS(LC(F6))  &lt FN ENTER &kp 0                &kp UP     &kp DOWN     &kp KP_DOT    &kp RBKT        &mo FN
      >;
    };

    layer_fn {
                                        // Fn
                                        // -----------------------------------------------------------------           -----------------------------------------------------------------
                                        // |  F12   |   F1   |   F2   |   F3   |   F4   |   F5   |   Kp   |           | Mod  |   F6   |   F7   |   F8   |   F9    |   F10   |   F11   |
                                        // |        |        |        |        |        |        |        |           |      |        |   ~    |  `/~   |    +    |   =/+   |    _    |
                                        // |        |   1    |   2    |   3    |   4    |   5    |        |           |      |   6    |   7    |   8    |    9    |    0    |   -/_   |
                                        // |        |   !    |   @    |   #    |   $    |   %    |---------           -------|   ^    |   &    |   *    |    (    |    )    |    "    |
                                        // |        |        |        |        |        |---------                           ---------|        |        |         |         |         |
                                        // ----------------------------------------------                                              ------------------------------------------------
                                        //
                                        //                                                                        Thumb Cluster
                                        //                                                     --------------------           ---------------------
                                        //                                                     |        |         |           |          |        |
                                        //                                            -----------------------------           -------------------------------
                                        //                                            |        |        |  HOME   |           |  PG UP   |        |        |
                                        //                                            |        |        |----------           --------   |        |        |
                                        //                                            |        |        |  END    |           |  PG DN   |        |        |
                                        //                                            -----------------------------           ------------------------------
      bindings = <
        &kp F12 &kp F1   &kp F2 &kp F3   &kp F4   &kp F5    &tog 1                                                &mo 3 &kp F6    &kp F7    &kp F8    &kp F9   &kp F10   &kp F11
        &trans  &trans   &trans &trans   &trans   &trans    &none                                                 &none &trans    &kp TILDE &kp GRAVE &kp PLUS &kp EQUAL &kp UNDER
        &trans  &kp N1   &kp N2 &kp N3   &kp N4   &kp N5    &none         &trans &trans   &trans    &trans        &none &kp N6    &kp N7    &kp N8    &kp N9   &kp N0    &kp MINUS
        &trans  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT                      &kp HOME &kp PG_UP                     &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR  &kp DQT
        &trans  &trans   &trans &trans   &trans                    &trans &trans &kp END  &kp PG_DN &trans &trans                 &trans    &trans    &trans    &trans   &trans
      >;
    };

    layer_mod {
                                        // MODULE
                                        // ---------------------------------------------------------------------           --------------------------------------------------------------------
                                        // |        |   BT0   |   BT1   |   BT2   |   BT3   |   BT4   |        |           | Mod  |   BT0   |   BT1   |   BT2   |   BT3   |   BT4   |         |
                                        // |        |         |         |         |         |         | BT_CLR |           | None |         |         |         |         |         |         |
                                        // |        |         |  Mute   | VolDown |  VolUp  |         |        |           | None |         |         |         |         |         |         |
                                        // |        |         |         |         |         |         |---------           -------|         |         |         |         |         |         |
                                        // |        |         |         |         |         |----------                           ----------|         |         |         |         |         |
                                        // --------------------------------------------------                                               ---------------------------------------------------
                                        //
                                        //                                                                        Thumb Cluster
                                        //                                                     --------------------           ---------------------
                                        //                                                     |        |         |           |          |        |
                                        //                                            -----------------------------           -------------------------------
                                        //                                            |        |        |         |           |          |        |        |
                                        //                                            |        |        |----------           -----------|        |        |
                                        //                                            |        |        |         |           |          |        |        |
                                        //                                            -----------------------------           ------------------------------
      bindings = <
        &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none                                                                                               &trans                 &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none
        &none &none        &none        &none        &none        &none        &bootloader                                                                                         &bootloader            &none        &none        &none        &none        &none        &none
        &none &none        &kp C_MUTE   &kp C_VOL_DN &kp C_VOL_UP &none        &rgb_ug RGB_MEFS_CMD 5                 &none      &none &bt BT_CLR &none                            &rgb_ug RGB_MEFS_CMD 5 &none        &none        &none        &none        &none        &none
        &none &none        &none        &none        &none        &none                                                          &none &none                                                              &none        &none        &none        &none        &none        &none
        &none &none        &none        &bl BL_INC   &bl BL_DEC                                       &rgb_ug RGB_TOG &bl BL_TOG &none &none            &bl BL_TOG &rgb_ug RGB_TOG                                     &bl BL_INC   &bl BL_DEC   &none        &none        &none
      >;
    };
  };
};
